<div class="flex flex-col items-center justify-center h-screen">

<%= form_with url: user_session_path, scope: :user, local: true do |f| %>
<div class="mb-3">
<%= f.label :email, class: "block text-gray-700 text-sm font-bold mb-2" %>
<%= f.text_field :email, class: "border border-gray-300 rounded px-3 py-2 w-full" %>
</div>
<div class="mb-3">
<%= f.label :password, class: "block text-gray-700 text-sm font-bold mb-2" %>
<%= f.password_field :password, class: "border border-gray-300 rounded px-3 py-2 w-full" %>
</div>
<%= f.submit "ログイン", class: "bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded" %>
<% end %>

<% if resource && resource.errors.any? %>
  <div class="mb-4 text-red-600">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

</div>