<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "GachaApp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
   <%= tag.link rel: "stylesheet", href: "/assets/builds/application.css", "data-turbo-track": "reload" %>

    <%= tag.script src: "/assets/builds/application.js", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <%= render 'shared/header' %>

<div style="background-image: url('/bg-pic.png');" class="bg-cover">

  <% if Rails.env.production? %>
  <div style="position: fixed; bottom: 0; left: 0; background: lightyellow; padding: 5px; font-size: small;">
    CSS: <%= File.exist?(Rails.root.join("public/assets/application.css")) ? "✅ Found" : "❌ Missing" %><br>
    JS: <%= File.exist?(Rails.root.join("public/assets/application.js")) ? "✅ Found" : "❌ Missing" %>
  </div>
<% end %>



<% flash.each do |type, message| %>
  <div class="p-4 mb-4 rounded text-center <%= { success: 'bg-green-100', danger: 'bg-red-300' }[type.to_sym] %>">
    <%= message %>
  </div>
<% end %>

    <%= yield %>
     <%= render 'shared/footer' %>
  </body>
</html>
