<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "GachaApp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <%= render 'shared/header' %>

  <div style="background-image: url(<%= asset_path('bg-pic.png') %>);" class="bg-cover">

<% flash.each do |type, message| %>
  <div class="p-4 mb-4 rounded text-center <%= { success: 'bg-green-100', danger: 'bg-red-300' }[type.to_sym] %>">
    <%= message %>
  </div>
<% end %>

    <%= yield %>
     <%= render 'shared/footer' %>
  </body>
</html>
